@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
            </tr>
        }
    </tbody>

    @section Scripts {
        <script src="~/js/customscript.js"></script>
    }
</table>
